*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(38, 174, 174);
    /* display: flex; */
    /* align-items: center; */
    /* position: relative; */
    /* justify-content: center; */
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    background: linear-gradient(to left, snow, cyan);
    width: 400px;
    height: 400px;
    border-radius: 15px;
    padding: 10px;

} 
h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.inputdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 18px;
    width: 45vw;
    outline: none;
    position: relative;
}
.container1::before{
    content: "";
    position: absolute;
    width: 410px;
    height: 410px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    transition: all 0.5s ease;
    background: linear-gradient(to right,snow,rgb(0, 255, 255));
}

input:focus{
    box-shadow: 0 0 10px rgb(102, 217, 235);
    border-color: rgb(102, 217, 235);
    transition: all 0.5s ease;
}
button{
    width: 300px;
    padding: 10px;
    border-radius: 3px 25px;
    border: 2px solid gray;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.7s ease;
    box-shadow: inset 0px 20px 40px rgb(102, 217, 235);
}
button:hover{
    box-shadow: inset 20px 0px 40px rgb(100, 217, 226);
    border-radius: 30px 0px;
   width: 250px;
    transition: all 0.7s ease;
}
.result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 200px){
    .container{
        width: 90vw;
        height: 90vh;
        padding: 10px;
    }
    input{
        width: 70vw;
    }
    button{
        width: 70vw;
    }
    button:hover{
        width: 60vw;
    }
    .container1::before{
        width: 95vw;
         overflow: hidden;
    }
}
@media screen and (max-width: 500px){
    .container{
        width: 90vw;
       
        padding: 20px;
    }
    input{
        width: 80vw;
    }
    button{
        width: 80vw;
    }
    button:hover{
        width: 70vw;
    }
    .container1::before{
        width: 95vw;

    }
}
@media screen and (min-width: 501px) {
    .container{
        width: 400px;
        height: 400px;
    }
    input{
        width: 43vw;
    }
    .container1::before{
        width: 410px;
        height: 410px;
    }
}
@media screen and (min-width: 900px) {
    .container{
        width: 400px;
        height: 400px;
    }
    input{
        width: 30vw;
    }
    .container1::before{
        width: 410px;
        height: 410px;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 400px;
        height: 400px;
    }
    input{
        width: 25vw;
    }
    .container1::before{
        width: 410px;
        height: 410px;
    }
}
